/* Le sélecteur '*' cible tous les éléments de la page */
* {
  /* On dit au navigateur de calculer les dimensions d'un élément en incluant le padding et la bordure. Les dimensions ne seront donc plus basées que sur le contenu de l'élément, mais incluront sa marge intérieure et sa bordure */
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

#main-menu {
  background-color: black;
  /* Syntaxe courte : je définis directement qu'en haut et en bas on aura 8px de marge intérieure, et à gauche et à droite 0px de marge intérieure */
  padding: 8px 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

#main-menu ul {
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

#main-menu a {
  text-decoration: none;
  color: white;
}

#search-form input {
  padding: 5px;
  font-size: inherit;
  outline: none;
}

#search-form button {
  padding: 8px 12px;
  font-size: inherit;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #4c8981;
  color: white;
  cursor: pointer;
}

#en-tete {
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding-top: 4em;
  padding-left: 150px;
}

#name {
  font-family: "Sansita Swashed", cursive;
  font-size: 6em;
  margin-top: 0px;
  margin-bottom: 40px;
}

#baseline {
  font-weight: 500;
  font-size: 2em;
}

.illustrated-content {
  display: flex;
}

.illustrated-content.regular {
  flex-direction: row;
}

/*
Je cible les éléments ayant à la fois la classe illustrated-content et reverse
*/
.illustrated-content.reverse {
  flex-direction: row-reverse;
}

/*
Je cible les éléments ayant la classe txt-content à l'intérieur d'un élément ayant la classe illustrated-content
*/
.illustrated-content .txt-content {
  width: 50%;
  padding: 2em;
}

.illustrated-content img {
  width: 50%;
}

.banner {
  padding: 3.5em 1em;
  background-color: orangered;
  display: flex;
}

.banner .content,
.banner .cta {
  width: 50%;
}

.banner .content {
  font-size: 3em;
  color: white;
  font-weight: 700;
  padding-left: 1em;
}

.banner .content p {
  margin: 0px;
}

.banner .cta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .cta a {
  text-decoration: none;
  background-color: white;
  padding: 1em 4em;
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 100ms ease-in-out;
}

.banner .cta a:hover {
  background-color: black;
  color: white;
}

#offers {
  padding-top: 4em;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5em;
}

.text-center {
  text-align: center;
}

.offer-content {
  max-width: 400px;
  box-shadow: 0px 0px 30px 6px #a1a1a1;
  transition: transform 150ms ease-in-out;
}

.offer-content:hover {
  transform: scale(1.05);
}

.offer-content h3 {
  font-size: 2em;
  margin: 1.2rem;
  text-transform: uppercase;
}

.offer-content h4 {
  font-size: 3.5em;
  margin: 1rem;
}

.offer-button a {
  text-decoration: none;
  background-color: blue;
  padding: 1em;
  color: white;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  display: inline-block;
}

.offer-button a:hover {
  background-color: rgb(28, 104, 129);
  transform: scale(1.2);
}

.offer-button a:active {
  transform: scale(1);
}

.offer-button {
  text-align: center;
  margin-top: 2em;
}

.offer-content ul {
  margin-top: 2em;
  list-style-type: none;
  padding-left: 0px;
}

.offer-content ul li {
  padding-top: 1em;
  border-bottom: 1px solid #bebebe;
  text-align: center;
  padding-bottom: 1em;
}

#nos-produits {
  margin-left: 4em;
  margin-right: 4em;
  padding-top: 7em;
  margin-bottom: 5em;
  text-align: center;
}

.product-line {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.product-content {
  position: relative;
  max-width: 400px;
  box-shadow: 0px 0px 30px 6px #a1a1a1;
  margin-bottom: 2em;
  padding-bottom: 1em;
}

#link-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

#link-top a {
  text-decoration: none;
  background-color: #e68a00;
  padding: 8px 13px;
  color: #fff;
}

.promo {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #00e900;
  padding: 4px;
  color: #fff;
}
